@{
    ViewData["Title"] = "درباره ما";
}

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8">


                <h3 class="text-center mb-4">درباره ما</h3>

            <p style="line-height:2">
                این وب‌سایت یک وبلاگ شخصی است که با هدف به اشتراک گذاشتن تجربیات، آموخته‌ها و علایق من در زمینه‌های مختلف ایجاد شده است.
                تلاش کرده‌ام محتوایی ارائه دهم که برای خوانندگان مفید، کاربردی و الهام‌بخش باشد.
            </p>

            <p style="line-height:2">
                در این وبلاگ مطالبی را خواهید یافت که حاصل سال‌ها مطالعه، تجربه و علاقه‌مندی من به حوزه‌هایی همچون برنامه‌نویسی،
                توسعه نرم‌افزار، یادگیری مداوم، تکنولوژی، و همین‌طور موضوعات روزمره و شخصی است.
            </p>

            <p style="line-height:2">
                هدف من ایجاد فضایی دوستانه و آموزنده است؛ جایی که بتوانم دانسته‌هایم را با دیگران به اشتراک بگذارم و در عین حال از نظرات و تجربیات شما نیز یاد بگیرم.
                خوشحال می‌شوم همراه من باشید و نظرات، پیشنهادات و بازخوردهای خود را با من در میان بگذارید.
            </p>



        </div>
    </div>
</div>