@model CreatePersonViewModel

<div id="addUser" class="section card p-4">
    <h4 class="mb-3">افزودن کاربر جدید</h4>
    <form asp-controller="People" asp-action="CreatePerson" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
        <div class="mb-3">
            <label class="form-label">نام کاربری</label>
            <input type="text" class="form-control" asp-for="UserName" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label class="form-label">رمز عبور</label>
            <input type="password" class="form-control" asp-for="Password" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label class="form-label">نقش کاربری</label>
            <select class="form-select" asp-for="RoleId"
                    asp-items="@(ViewBag.Roles != null ? new SelectList(ViewBag.Roles, "Id", "Name") : new SelectList(Enumerable.Empty<RoleDto>(), "Id", "Name"))">

                <option value="">انتخاب کنید...</option>

            </select>
            <span asp-validation-for="RoleId" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-success w-100">ثبت کاربر</button>
    </form>
</div>
