@model List<PersonDto>


<div id="userList" class="section card p-4">
    <h4 class="mb-3">لیست کاربران</h4>
    <ul class="list-group">

        @foreach(var person in Model)
        {
            <li class="list-group-item d-flex justify-content-between">
                @person.UserName
                <span>
                    <a class="btn btn-sm btn-outline-primary"
                            asp-action="UpdatePerson" asp-route-Id="@person.Id">
                        ویرایش
                    </a>
                    @if (person.IsActive == true)
                    {
                        <a class="btn btn-sm btn-outline-success"
                                asp-action="ToggleUserStatus" asp-route-Id="@person.Id">
                            فعال
                        </a>
                    }
                    else
                    {
                        <a class="btn btn-sm btn-outline-danger"
                           asp-action="ToggleUserStatus" asp-route-Id="@person.Id">
                            غیرفعال
                        </a>
                    }

                </span>
            </li>
        }        
    </ul>
</div>
