@model UpdatePersonViewModel


<div id="editUser1" class="section card p-4">
    <h4 class="mb-3">ویرایش کاربر</h4>
    <form asp-controller="People" asp-action="UpdatePerson" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
        <div class="mb-3">
            <label class="form-label">نام کاربری</label>
            <input type="text" class="form-control" asp-for="UserName" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label class="form-label">نقش کاربری</label>
            <select class="form-select"
                    asp-for="RoleId"
                    asp-items="@(ViewBag.Roles != null
                                ? new SelectList(ViewBag.Roles, "Id", "Name")
                                : new SelectList(Enumerable.Empty<RoleDto>(), "Id", "Name"))">

                <option value="">انتخاب کنید...</option>
            </select>

            <span asp-validation-for="RoleId" class="text-danger"></span>

        </div>
        <button class="btn btn-success w-100">اعمال تغییرات</button>
    </form>
</div>