<div id="sidebar">
    <a asp-area="admin" asp-controller="Home" asp-action="Index">
        📊 داشبورد مدیریت
    </a>

    <a asp-area="" asp-controller="Home" asp-action="Index">
        🌐 مشاهده وبلاگ
    </a>

    <hr />

    <a asp-area="admin" asp-controller="Article" asp-action="CreateArticle">
        ✍️ افزودن مقاله جدید
    </a>

    <a asp-area="admin" asp-controller="Article" asp-action="ArticleList">
        📝 مدیریت مقالات
    </a>

    <hr />

    <a asp-area="admin" asp-controller="Category" asp-action="CreateCategory">
        🏷️ افزودن دسته‌بندی
    </a>

    <a asp-area="admin" asp-controller="Category" asp-action="ShowCategories">
        🗂️ لیست دسته‌بندی‌ها
    </a>

    <hr />

    <a asp-area="admin" asp-controller="People" asp-action="CreatePerson">
        👤 افزودن کاربر
    </a>

    <a asp-area="admin" asp-controller="People" asp-action="PeopleList">
        👥 مدیریت کاربران
    </a>

    <a asp-area="admin" asp-controller="Role" asp-action="ShowRoles">
        🎯 نقش‌های کاربری
    </a>

    <hr />

    <a asp-area="" asp-controller="Account" asp-action="Logout">
        🚪 خروج از حساب
    </a>
</div>
